<h4>Orders</h4>
<ul id="orders-list">
  <% @game.orders_this_turn.each do |order| %>
    <%= render "order", order: order %>
  <% end %>
</ul>

<button id="undo-order" class="btn btn-primary <%= 'hide' unless show_undo_orders? %>">
  Undo
</button>