// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#game-area{
  margin-top: 50px;
}

#game-description-area{
  margin-top: 50px;
}

.board-square{
  float: left;
  height: 55px;
  width: 55px;
  border: 1px solid black;
  border-bottom: 0;
}

#game-area .board-square.highlighted-square{
  border-top: 4px solid darkred;
  border-bottom: 4px solid darkred;
  border-left: 4px solid darkred;
  border-right: 4px solid darkred;

  &:hover{
    cursor: pointer;

  }
}

.board-square.bottom-row{
  border-bottom: 1px solid black;
}

.board-square.light{
  background-color: #ffe6b3;
}

.board-square.dark{
  background-color: #805500;
}

.board-square + .board-square{
  border-left: 0;
}

.row-label{
  float: left;
  font-weight: bold;
  font-size: 20px;
  padding-left: 12px;
  padding-top: 12px;
}

.column-label{
  float: left;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 21px 0 20px;
}

#reserve-area{
  background-color: lightyellow;
  border: 2px solid black;
  padding: 15px;
  min-height: 440px;
}

#orders-area{
  background-color: lightgray;
  border: 2px solid black;
  padding: 15px;
  min-height: 440px;
}

#confirm-orders{
  margin-top: 10px;
}

.clear-fix{
  clear: both;
}